*{
    margin: 0;
    padding: 0;

}

body{
    background-color:#80B395;
    text-align: center;

}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    font-size: 10vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.3);
    font-size: 8vmin;
    color:#AF7555 ;
    background-color: #F9FF85;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#5E565A ;
    color:#fff;
    border-radius: .8rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#5E565A ;
    color:#fff;
    border-radius: .8rem;
    border: none;
}

#msg{
    color: white;
    font-size: 8vmin;

}

.msg-container{
    height: 30vmin;

}

.hide{
    display: none;
}










